* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --secondary-color: #1787e0;
  --third-color: #fafafa;
  --transition: 0.3s;
  --fixed-height: 72px;
  --heading-padding: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--transition);
  text-transform: uppercase;
}

.special-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.special-heading::before,
.special-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.special-heading::before {
  left: -30px;
}

.special-heading::after {
  right: -30px;
}

.special-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.special-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

/* header */

header {
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: relative;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: var(--fixed-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .logo {
      width: 100%;
      height: 50px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--fixed-height);
      color: black;
      position: relative;
      padding: 0 30px;
      transition: var(--transition);
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--main-color);
        top: 0;
        left: -100%;
        transition: var(--transition);
      }

      &:hover {
        color: var(--main-color);
        background-color: var(--third-color);

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: var(--main-color);
          top: 0;
          left: 0;
        }
      }
    }

    @media (max-width: 768px) {
      a {
        padding: 15px;
        font-size: 14px;
        height: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      margin: auto;
    }
  }
}

header .container .menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: 100;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--transition), opacity var(--transition);
}

header .container .menu image img {
  max-width: 100%;
}

header .container .menu .links {
  display: flex;
  flex-wrap: wrap;
}

header .container .menu .links li {}

header .container .menu .links li::before {
  content: "";

}

header .container .menu .links li:hover:before {}


header .container .menu .links li a {
  color: var(--main-color);
  padding: 50px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

header .container .menu .links li a i {}

/* landing */

.landing {
  position: relative;

  .container {
    min-height: calc(100vh - var(--fixed-height));
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }

  .text {
    flex: 1;

    h1 {
      font-size: 40px;
      margin: 0;
      letter-spacing: -2px;
      text-transform: capitalize;
    }

    @media (max-width: 767px) {
      h1 {
        font-size: 28px;
      }
    }

    p {
      font-size: 23px;
      line-height: 1.7;
      margin: 5px 0 0;
      color: #666;
      max-width: 500px;
    }

    @media (max-width: 991px) {
      p {
        margin: 10px auto;
      }
    }

    @media (max-width: 767px) {
      p {
        font-size: 18px;
      }
    }
  }

  @media (max-width: 991px) {
    .text {
      text-align: center;
    }
  }

  .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
  }

  @media (max-width: 991px) {
    .image img {
      display: none;
    }
  }

  .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);

    &:hover {
      color: var(--secondary-color);
    }

    i {
      animation: bouncing 1.5s infinite;
    }
  }
}

/* animation */

@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

/* articles section */

.articles {
  padding-top: var(--heading-padding);
  padding-bottom: var(--heading-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--transition),
    box-shadow var(--transition);

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  }
}

.articles .box img {
  max-width: 100%;
  width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

/* gallery section */
.gallery {
  padding-top: var(--heading-padding);
  padding-bottom: var(--heading-padding);
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%)
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 20%);
  width: 0;
  height: 0;
  opacity: 0;
}

.gallery .box .image:hover::before {
  animation: flash 0.7s;
}

.gallery .box img {
  max-width: 100%;
  transition: var(--transition);
}

.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

@keyframes flash {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* Features section */

.features {
  padding-top: var(--heading-padding);
  padding-bottom: var(--heading-padding);
  position: relative;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -25px;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--transition);
  }
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--transition);
}

.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}


/* TESTIMONIALS section  */

.testimonials {
  padding-top: var(--heading-padding);
  padding-bottom: var(--heading-padding);
  position: relative;
  background-color: var(--section-background);

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
      position: relative;

      img {
        position: absolute;
        right: -10px;
        top: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid var(--section-background);
      }

      h3 {
        color: var(--main-color);
        margin: 0 0 10px;
      }

      .title {
        color: #777;
        margin-bottom: 10px;
        display: block;
      }

      .rate .filled {
        color: #ffc107;
      }

      p {
        line-height: 1.5;
        color: #777;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}

/* TEAM MEMBERS */

.team {
  padding-top: var(--heading-padding);
  padding-bottom: var(--heading-padding);
  position: relative;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .box {
      position: relative;

      &::before {
        content: "";

      }

      .data img {
        width: 100%;
      }
    }
  }

}